/**
 * AmFiles - a TinyMCE 4x files upload plugin
 * Released under Creative Commons Attribution 3.0 Unported License
 * License: http://creativecommons.org/licenses/by/3.0/
 * Plugin info: hello@andrey-malygin.ru
 * Author: Andrey Malygin
 *
 * Version: 0.1b released 5/02/2014
 */
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; -text-align:center; padding:0 10px 0 5px;}
.form-inline input {display: inline-block;margin-bottom: 0;vertical-align: middle;}
#target {border:0; margin:0; padding:0; width:0; height:0; display:none;}
.infobar {display:none; font-size:12pt; background:#fff; margin-top:10px; border-radius:5px;}
.infobar img.spinner {margin-right:10px;}
.infobar a {color:#0000cc;}
#info {font-size:12pt;}
.visible {width:100%!important; height:200px!important; border:1px solid red!important; display:block!important; color:red;}

